body {
    background-image: url("../pics/shattered.png");
}
.header {
    font-size: 85px;
    font-family: 'Permanent Marker', cursive;
}
img {
    border: solid black 4px;
    border-radius: 12%;
}
.ul {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
    padding: 20px;
}
#target-number {
    font-size: 70px;
    color: rgb(33, 126, 150);
}
.wins-loss {

}
.number-picked {
    font-size: 35px;
}
.crystals {
    width: 150px;
    margin-left: 25px;
}
#crys {
    width: 150px;
}
#wins {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
    padding: 15px;
}
#losses {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
    padding: 15px;
}
.number-picked {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 35px;
    padding: 15px;
}